nav a,
.nav a,
.pagination a,
.carousel a,
.panel-title a {
    cursor: pointer;
}
body {
    /* Para ajustar la barra de navegación fija en el top */
    padding-top: 50px;
}
.contenidoCentral {
    margin-bottom: 70px;
}
.footer {
    /* El footer pegajoso */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #CFD8DC;
    color: #37474F;
}
.footer .text-muted {
    margin: 20px 0;
}
.login-panel {
    margin-top: 5em;
}
.menuLateral {
    background-color: #263238;
    color: white;
}
.menuPrincipal {
    padding: 0;
    list-style-type: none;
}
.menuPrincipal li {
    list-style: none;
}
.menuPrincipal a {
    color: #ECEFF1;
    cursor: pointer !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-height: 2.5em;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: solid 1px rgba(236,239,241,0.4);
    padding-right: 1em;
}
.menuPrincipal a:hover {
    text-decoration: none;
    background-color: #607D8B;
    background-color: rgba(96,125,139,0.4);
}
.menuPrincipal li:last-child {
    border-bottom: solid 1px rgba(236,239,241,0.4);
}
.menuPrincipal .active {
    background-color: black;
}
.contenidoDerecho {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -20px;
}
/* Interfaz de ancho de computador */
@media (min-width: 768px) {
    .menuLateral {
        position: fixed;
        overflow: hidden;
        height: 100%;
    }
    .menuLateral h2 {
        font-size: 1.125em;
        max-width: 90%;
        margin-left: 5%;
        overflow: hidden;
        max-height: 1.25em;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
    .menuPrincipal i {
        margin-left: 1em;
        margin-right: 1em;
    }
}
/* Cuando la interfaz es del tamaño de un celular */
@media (max-width: 769px) {
    .menuLateral {
        position: relative;
    }
    .menuLateral h2 {
        display: none;
    }
}
/* Computador de pantalla pequeña SM */
@media (min-width: 768px) and (max-width: 989px) {
    .menuLateral {
        width: 25%;
    }
}
/* Computador con pantalla de MD en adelante */
@media (min-width: 990px) {
    .menuLateral {
        width: 16.6666667%;
    }
}