nav a,
.nav a,
.pagination a,
.carousel a,
.panel-title a {
    cursor: pointer;
}
body {
    /* Para ajustar la barra de navegación fija en el top */
    padding-top: 50px;
}
.contenidoCentral {
    margin-bottom: 70px;
}
.footer {
    /* El footer pegajoso */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #CFD8DC;
    color: #37474F;
}
.footer .text-muted {
    margin: 20px 0;
}
.login-panel {
    margin-top: 5em;
}
.menuLateral {
    background-color: #263238;
    color: white;
}
.menuPrincipal li {
    list-style: none;
    margin-left: -3em;
    cursor: pointer;
}
.menuPrincipal li:hover {
    background-color: rgba(96,125,139,0.4);
}
/* Interfaz de ancho de computador */
@media (min-width: 768px) {
    .menuLateral {
        position: fixed;
        width: 16.66667%;
        overflow: hidden;
        height: 100%;
    }
    .menuLateral h2 {
        font-size: 1.25em;
        max-width: 90%;
        margin-left: 5%;
        overflow: hidden;
        max-height: 1.25em;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .menuPrincipal li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        max-height: 2.5em;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-top: solid 1px rgba(236,239,241,0.4);
    }
    .menuPrincipal i {
        margin-left: 1em;
    }
}
/* Cuando la interfaz es del tamaño de un celular */
@media (max-width: 769px) {
    .menuLateral {
        position: relative;
    }
    .menuLateral h2 {
        display: none;
    }
}